.lost_container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column;
}
.lost_container img{
    width: 500px;
    height: 500px;        
}